body {
    background-color: #FCFAF3;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 1%;
    text-align: center;
}

/* should i put the image in CSS rather than HTML? */
.logo img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

header {
    padding: .5px;
    background-color: #493B33;
    height: 60px;
    /* outline: 3px solid red; */
}

header ul {
    color: white;
}

header li {
    list-style-type: none;
    padding: 0px 20px;
}

.navLinks {
    cursor: pointer;
}

.navigation {
    justify-content: space-between;
    align-items: center;
} 

.heroImg {
    /* width: 1200px; */
    /* height: 500px; */
    /* padding: 25px; */
    /* transform: scale(.5); */
    /* outline: 3px solid red; */
    background-image: url(../images/forest\ crop.png);
    background-repeat: none;
}

.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    /* background-color: #FCFAF3; */
    text-align: right;
    color: #FCFAF3;
    background-color: transparent;
    /* outline: 3px solid red; */
}

.aboutMe {
    margin: 0 auto;
    display: flex;
    /* outline: 3px solid red; */
}

.aboutMe img {
    width: 270px;
    margin: 50px 50px 0px 50px;
    transform: translate(0%, -40%);
}

.meContent {
    padding: 80px 30px 1px 30px;
    /* outline: 3px solid red; */
}

#aboutMe {
    text-align: left;
    padding: 0px;
}

button {
    background-color: #ADC178;
    color: #000000;
    border: none;
    padding: 10px 20px;
    width: 200px; 
    text-align: center;
    cursor: pointer;
}

footer {
    background-color: #493B33;
    padding: 10px;
    text-align: center;
    /* border-top: #ADC178; */
}

footer ul{
    list-style: none;
    padding-left: 10px;
    text-align: center;
    color: white;
}

footer li {
    display: inline-block;
    padding: 0px 7px;
}

/* Unit 18: My UX Skills & My Work Section */

/* My UX Skills */

.flexContainer {
    display: flex;
}

.skillContainer {
    padding: 15px;
    margin: 30px;
}

.flexChild {
    width: 33%;
    padding: 5px;
    margin: 15px;
    /* outline: 3px solid red; */
}

.flexChild img {
    width: 100px;
    height: 100px;
}

/* My Work */
.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "treasury treasuryDescription"
    "ppiDescription ppi";
    padding: 50px;
    margin: 100px;
    /* outline: 3px solid red; */
}

#treasury {
    grid-area: treasury;
}

#treasuryDescription {
    grid-area: treasuryDescription;
    /* outline: 3px solid red; */
}

#ppi {
    grid-area: ppi;
}

#ppiDescription {
    grid-area: ppiDescription;
}

.workGrid img {
    width: 300px;
    padding: 15px;
    margin: 20px;
    /* outline: 3px solid red; */
}

.projectButton {
    display: grid;
    justify-content: center;
    /* outline: 3px solid red; */
}

@media only screen and (max-width: 800px) {
    .workGrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "treasury" 
            "treasuryDescription"
            "ppi" 
            "ppiDescription";
        text-align: center;
    }
    .skillContainer {
        flex-direction: column;
    }
    .flexChild {
        width: 100%;
        text-align: center;
    }
    .aboutMe {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aboutMe img {
        transform: translate(0%, 0%);
    }
    .content {
        text-align: center;
    }
    .meContent {
        padding: 10px 25px;    
    }
}

.viewAll {
    text-align: center;
    cursor: pointer;
}

h1 {
    margin: 50px;
    font-size: 45px;
}

h2 {
    padding: 0px 50px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif Telugu', serif;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif Telugu', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}



